
<h1>Collection Comparision</h1>
<div>
  <p>player 1</p>
  <input id="player1" [(ngModel)]="player1" placeholder="Enter player 1 name">
  <p>player 2</p>
  <input id="player2" [(ngModel)]="player2" type="text">
</div>
<button (click)="loadMatchingList()">Press me</button>
<h2>Board Games In Common</h2>
<div *ngIf ="matchingList">
  <table >
    <tr>
      <th>Game</th>
      <th>{{player1}} Rating</th>
      <th><button>by Difference</button></th>
      <th>{{player2}} Rating</th>
    </tr>
    <tbody *ngFor="let item of matchingList">
      <tr>
        <td>{{item.GameName}}</td>
        <td>{{item.P1Rating}}</td>
        <td></td>
        <td>{{ item.P2Rating}}</td>
      </tr>
    </tbody>
  </table>
</div>